# Database
*.sqlite3
*.db

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Environment
.env
.venv
env/
venv/
.pipfile
.pipfile.lock

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/